---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"<EDS_USER>","Password":"<EDS_PASS>"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ''
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ACEz-XRGaYq80TUxx2A6FoqFDE46QFjw6gF7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ","AuthTimeout":"1800"}'
  recorded_at: Fri, 14 Apr 2017 14:55:53 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=eds-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ACEz-XRGaYq80TUxx2A6FoqFDE46QFjw6gF7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACEz-XRGaYq80TUxx2A6FoqFDE46QFjw6gF7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - d72128b0-783c-450f-b824-00661734fac4
      x-sessionno:
      - "-664976302"
      x-sessiontoken:
      - 36cdfebf-708f-4bdd-b966-ad6af8db8b6b.AFC6hASSS1J7PjQVlgUBAYc20CZ8K9Wz+metDt6bbuU=
    body:
      encoding: UTF-8
      string: '{"SessionToken":"36cdfebf-708f-4bdd-b966-ad6af8db8b6b.AFC6hASSS1J7PjQVlgUBAYc20CZ8K9Wz+metDt6bbuU="}'
  recorded_at: Fri, 14 Apr 2017 14:55:53 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 36cdfebf-708f-4bdd-b966-ad6af8db8b6b.AFC6hASSS1J7PjQVlgUBAYc20CZ8K9Wz+metDt6bbuU=
      x-authenticationToken:
      - ACEz-XRGaYq80TUxx2A6FoqFDE46QFjw6gF7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACEz-XRGaYq80TUxx2A6FoqFDE46QFjw6gF7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 1dd1b716-51ea-4b78-a138-04bb2f8e408b
      x-sessionno:
      - "-664976302"
      x-sessiontoken:
      - 36cdfebf-708f-4bdd-b966-ad6af8db8b6b.AFC6hASSS1J7PjQVlgUBAYc20CZ8K9Wz+metDt6bbuU=
    body:
      encoding: ASCII-8BIT
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"},{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"y"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"y"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Linked
        Full Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"3"},{"Id":"TI","Label":"Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"4"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"Carl
        Vinson Institute of Government","AddAction":"addlimiter(LB:Carl Vinson Institute
        of Government)"},{"Value":"Consult Reference Staff","AddAction":"addlimiter(LB:Consult
        Reference Staff)"},{"Value":"Cortona (Italy) - Studies Abroad Program","AddAction":"addlimiter(LB:Cortona
        \\(Italy\\) - Studies Abroad Program)"},{"Value":"Curriculum Materials Library","AddAction":"addlimiter(LB:Curriculum
        Materials Library)"},{"Value":"Data Services","AddAction":"add[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/EndSession
    body:
      encoding: UTF-8
      string: '{"SessionToken":"36cdfebf-708f-4bdd-b966-ad6af8db8b6b.AFC6hASSS1J7PjQVlgUBAYc20CZ8K9Wz+metDt6bbuU="}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 36cdfebf-708f-4bdd-b966-ad6af8db8b6b.AFC6hASSS1J7PjQVlgUBAYc20CZ8K9Wz+metDt6bbuU=
      x-authenticationToken:
      - ACEz-XRGaYq80TUxx2A6FoqFDE46QFjw6gF7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACEz-XRGaYq80TUxx2A6FoqFDE46QFjw6gF7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - ff7a7502-8681-44af-9b0f-054e1f4c937c
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Fri, 14 Apr 2017 14:55:54 GMT
recorded_with: VCR 3.0.3
