---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"<EDS_USER>","Password":"<EDS_PASS>","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ''
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ","AuthTimeout":"1800"}'
  recorded_at: Thu, 29 Jun 2017 12:41:01 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=eds-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-sessiontoken:
      - 62a6b72c-5c4e-487d-85c9-f7528d539bd8.d69vvi2ToHF4fJKv+dmk5Faq0mJ7AUxV9fMtDEacwE4=
      x-authenticationtoken:
      - ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-sessionno:
      - '1984561427'
      x-msg-correlid:
      - 7e62ee84-62fe-4673-9d3c-09fadd6f68ec
    body:
      encoding: UTF-8
      string: '{"SessionToken":"62a6b72c-5c4e-487d-85c9-f7528d539bd8.d69vvi2ToHF4fJKv+dmk5Faq0mJ7AUxV9fMtDEacwE4="}'
  recorded_at: Thu, 29 Jun 2017 12:41:01 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 62a6b72c-5c4e-487d-85c9-f7528d539bd8.d69vvi2ToHF4fJKv+dmk5Faq0mJ7AUxV9fMtDEacwE4=
      x-authenticationToken:
      - ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-sessiontoken:
      - 62a6b72c-5c4e-487d-85c9-f7528d539bd8.d69vvi2ToHF4fJKv+dmk5Faq0mJ7AUxV9fMtDEacwE4=
      x-authenticationtoken:
      - ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-sessionno:
      - '1984561427'
      x-msg-correlid:
      - 53fcc75a-486d-4947-915c-717617dd8546
    body:
      encoding: ASCII-8BIT
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"},{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"y"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"y"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Linked
        Full Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"3"},{"Id":"TI","Label":"Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"4"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"Carl
        Vinson Institute of Government","AddAction":"addlimiter(LB:Carl Vinson Institute
        of Government)"},{"Value":"Consult Reference Staff","AddAction":"addlimiter(LB:Consult
        Reference Staff)"},{"Value":"Cortona (Italy) - Studies Abroad Program","AddAction":"addlimiter(LB:Cortona
        \\(Italy\\) - Studies Abroad Program)"},{"Value":"Curriculum Materials Library","AddAction":"addlimiter(LB:Curriculum
        Materials Library)"},{"Value":"Data Services","AddAction":"add[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search
    body:
      encoding: UTF-8
      string: '{"SearchCriteria":{"Queries":[{"Term":"lincoln"}],"SearchMode":"all","IncludeFacets":"y","FacetFilters":null,"Limiters":null,"Sort":"date","PublicationId":null,"RelatedContent":["rs"],"AutoSuggest":"y","Expanders":["relatedsubjects","thesaurus","fulltext"]},"RetrievalCriteria":{"View":"brief","ResultsPerPage":10,"PageNumber":1,"Highlight":"n"},"Actions":["addfacetfilter(SubjectGeographic:united
        states)","addfacetfilter(Journal:new york times)","addfacetfilter(ContentProvider:Academic
        Search Ultimate)","addlimiter(DT1:2014-6/2017-6)"]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 62a6b72c-5c4e-487d-85c9-f7528d539bd8.d69vvi2ToHF4fJKv+dmk5Faq0mJ7AUxV9fMtDEacwE4=
      x-authenticationToken:
      - ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-sessiontoken:
      - 62a6b72c-5c4e-487d-85c9-f7528d539bd8.d69vvi2ToHF4fJKv+dmk5Faq0mJ7AUxV9fMtDEacwE4=
      x-authenticationtoken:
      - ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-sessionno:
      - '1984561427'
      x-msg-correlid:
      - 4a09ae31-fd32-4849-926e-c27efa047c62
    body:
      encoding: ASCII-8BIT
      string: '{"SearchRequest":{"SearchCriteria":{"Queries":[{"BooleanOperator":"AND","Term":"lincoln"}],"SearchMode":"all","IncludeFacets":"y","FacetFilters":[{"FilterId":1,"FacetValues":[{"Id":"SubjectGeographic","Value":"united
        states"}]},{"FilterId":2,"FacetValues":[{"Id":"Journal","Value":"new york
        times"}]},{"FilterId":3,"FacetValues":[{"Id":"ContentProvider","Value":"Academic
        Search Ultimate"}]}],"Limiters":[{"Id":"DT1","Values":["2014-06\/2017-06"]}],"Expanders":["fulltext","thesaurus","relatedsubjects"],"Sort":"date","RelatedContent":["rs"],"AutoSuggest":"n"},"RetrievalCriteria":{"View":"brief","ResultsPerPage":10,"PageNumber":1,"Highlight":"n"},"SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"lincoln"},"RemoveAction":"removequery(1)"}],"FacetFiltersWithAction":[{"FilterId":1,"FacetValuesWithAction":[{"FacetValue":{"Id":"SubjectGeographic","Value":"united
        states"},"RemoveAction":"removefacetfiltervalue(1,SubjectGeographic:united
        states)"}],"RemoveAction":"removefacetfilter(1)"},{"FilterId":2,"FacetValuesWithAction":[{"FacetValue":{"Id":"Journal","Value":"new
        york times"},"RemoveAction":"removefacetfiltervalue(2,Journal:new york times)"}],"RemoveAction":"removefacetfilter(2)"},{"FilterId":3,"FacetValuesWithAction":[{"FacetValue":{"Id":"ContentProvider","Value":"Academic
        Search Ultimate"},"RemoveAction":"removefacetfiltervalue(3,ContentProvider:Academic
        Search Ultimate)"}],"RemoveAction":"removefacetfilter(3)"}],"LimitersWithAction":[{"Id":"DT1","LimiterValuesWithAction":[{"Value":"2014-06\/2017-06","RemoveAction":"removelimitervalue(DT1:2014-06\/2017-06)"}],"RemoveAction":"removelimiter(DT1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"},{"Id":"thesaurus","RemoveAction":"removeexpander(thesaurus)"},{"Id":"relatedsubjects","RemoveAction":"removeexpander(relatedsubjects)"}]}},"SearchResult":{"Statistics":{"TotalHits":5,"TotalSearchTime":188,"Databases":[{"Id":"asn","Label":"Academic
        Search Ultimate","Status":"0","Hits":5}]},"Data":{"RecordFormat":"EP Display","Records":[{"ResultId":1,"Header":{"DbId":"asn","DbLabel":"Academic
        Search Ultimate","An":"119583425","PubType":"News","PubTypeId":"newspaperArticle"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=asn&AN=119583425","FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Trump
        Claims Victory Over Ford Production Plan."},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22BOUDETTE%2C+NEAL+E%2E%22&quot;&gt;BOUDETTE,
        NEAL E.&lt;\/searchLink&gt;"},{"Name":"TitleSource","Label":"Source","Group":"Src","Data":"&lt;searchLink
        fieldCode=&quot;JN&quot; term=&quot;%22New+York+Times%22&quot;&gt;New York
        Times&lt;\/searchLink&gt;. 11\/19\/2016, Vol. 166 Issue 57421,[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/EndSession
    body:
      encoding: UTF-8
      string: '{"SessionToken":"62a6b72c-5c4e-487d-85c9-f7528d539bd8.d69vvi2ToHF4fJKv+dmk5Faq0mJ7AUxV9fMtDEacwE4="}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 62a6b72c-5c4e-487d-85c9-f7528d539bd8.d69vvi2ToHF4fJKv+dmk5Faq0mJ7AUxV9fMtDEacwE4=
      x-authenticationToken:
      - ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACOMGZdoUQtOCnoi_teibUhWoRQM61lU_GV7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - bee3a619-17fd-482e-9a7f-9caca50e50ff
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Thu, 29 Jun 2017 12:41:02 GMT
recorded_with: VCR 3.0.3
