---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"<EDS_USER>","Password":"<EDS_PASS>"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ''
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ACHXu6de_8wjN5xDhhLBKT114AFjEVjw6f97IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ","AuthTimeout":"1800"}'
  recorded_at: Fri, 14 Apr 2017 14:55:51 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=eds-none
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ACHXu6de_8wjN5xDhhLBKT114AFjEVjw6f97IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACHXu6de_8wjN5xDhhLBKT114AFjEVjw6f97IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - e6cda7f5-e9bb-408a-91f8-c876d2aa01dc
    body:
      encoding: UTF-8
      string: '{"DetailedErrorDescription":"Profile: eds-none.","ErrorDescription":"Profile
        ID is not assocated with caller''s credentials.","ErrorNumber":"144"}'
  recorded_at: Fri, 14 Apr 2017 14:55:51 GMT
recorded_with: VCR 3.0.3
