---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"fake","Password":"none"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ''
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ErrorCode":1102,"Reason":"Invalid Credentials.","AdditionalDetail":null}'
  recorded_at: Fri, 14 Apr 2017 14:55:52 GMT
recorded_with: VCR 3.0.3
