/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
faraday.log
.idea/.rakeTasks
.idea/ebsco.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries
.env
yaml-sample-records
*.gem
.idea
test/cache
