---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"<EDS_USER>","Password":"<EDS_USER>","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ''
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ","AuthTimeout":"1800"}'
  recorded_at: Tue, 18 Sep 2018 20:00:14 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=eds-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - e4d17004-a81d-4830-a945-ea5537759b61
      x-sessionno:
      - "-1438339812"
      x-sessiontoken:
      - 519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU=
    body:
      encoding: UTF-8
      string: '{"SessionToken":"519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU="}'
  recorded_at: Tue, 18 Sep 2018 20:00:14 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU=
      x-authenticationToken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 8f2ffbd8-9712-4a69-ac72-4561854a9db0
      x-sessionno:
      - "-1438339812"
      x-sessiontoken:
      - 519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU=
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"},{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"y"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"y"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Linked
        Full Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"3"},{"Id":"TI","Label":"Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"4"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"Carl
        Vinson Institute of Government","AddAction":"addlimiter(LB:Carl Vinson Institute
        of Government)"},{"Value":"Consult Reference Staff","AddAction":"addlimiter(LB:Consult
        Reference Staff)"},{"Value":"Cortona (Italy) - Studies Abroad Program","AddAction":"addlimiter(LB:Cortona
        \\(Italy\\) - Studies Abroad Program)"},{"Value":"Curriculum Materials Library","AddAction":"addlimiter(LB:Curriculum
        Materials Library)"},{"Value":"Data Services","AddAction":"add[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search
    body:
      encoding: UTF-8
      string: '{"SearchCriteria":{"Queries":[{"Term":"earthquake"}],"SearchMode":"all","IncludeFacets":"y","FacetFilters":[],"Limiters":[],"Sort":"relevance","PublicationId":null,"RelatedContent":["rs"],"AutoSuggest":"y","Expanders":["relatedsubjects","thesaurus","fulltext"],"AutoCorrect":"y"},"RetrievalCriteria":{"View":"brief","ResultsPerPage":20,"PageNumber":1,"Highlight":null,"IncludeImageQuickView":false},"Actions":["GoToPage(1)"],"Comment":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU=
      x-authenticationToken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - c5a8e842-b2b6-45c5-9a90-1558823ca32d
      x-sessionno:
      - "-1438339812"
      x-sessiontoken:
      - 519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU=
    body:
      encoding: UTF-8
      string: '{"SearchRequest":{"SearchCriteria":{"Queries":[{"BooleanOperator":"AND","Term":"earthquake"}],"SearchMode":"all","IncludeFacets":"y","Expanders":["fulltext","thesaurus","relatedsubjects"],"Sort":"relevance","RelatedContent":["rs"],"AutoSuggest":"n","AutoCorrect":"n"},"RetrievalCriteria":{"View":"brief","ResultsPerPage":20,"PageNumber":1,"Highlight":"y","IncludeImageQuickView":"false"},"SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"earthquake"},"RemoveAction":"removequery(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"},{"Id":"thesaurus","RemoveAction":"removeexpander(thesaurus)"},{"Id":"relatedsubjects","RemoveAction":"removeexpander(relatedsubjects)"}]}},"SearchResult":{"Statistics":{"TotalHits":374991,"TotalSearchTime":258,"Databases":[{"Id":"nlebk","Label":"eBook
        Collection (EBSCOhost)","Status":"0","Hits":0},{"Id":"e000xna","Label":"eBook
        Academic Collection (EBSCOhost)","Status":"0","Hits":34933},{"Id":"edsart","Label":"ARTstor
        Digital Library","Status":"0","Hits":8246},{"Id":"e700xna","Label":"eBook
        Public Library Collection (EBSCOhost)","Status":"0","Hits":7743},{"Id":"cat02060a","Label":"EDS
        Demo Catalog – US - U of Georgia","Status":"0","Hits":3780},{"Id":"ers","Label":"Research
        Starters","Status":"0","Hits":1093},{"Id":"asn","Label":"Academic Search Ultimate","Status":"0","Hits":148636},{"Id":"edspdh","Label":"PsycARTICLES","Status":"0","Hits":1200},{"Id":"psyh","Label":"PsycINFO","Status":"0","Hits":2633},{"Id":"pdh","Label":"PsycARTICLES","Status":"0","Hits":1173},{"Id":"edsnmj","Label":"Naxos
        Music Library Jazz","Status":"0","Hits":8},{"Id":"edscrc","Label":"Credo Reference","Status":"0","Hits":15270},{"Id":"edshld","Label":"Digital
        Access to Scholarship at Harvard (DASH)","Status":"0","Hits":73},{"Id":"edsbas","Label":"BASE","Status":"0","Hits":150193},{"Id":"pix","Label":"Play
        Index (H.W. Wilson)","Status":"0","Hits":10}]},"Data":{"RecordFormat":"EP
        Display","Records":[{"ResultId":1,"Header":{"DbId":"cat02060a","DbLabel":"EDS
        Demo Catalog – US - U of Georgia","An":"d.uga.4675802","RelevancyScore":"2459","PubType":"Book","PubTypeId":"book"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat02060a&AN=d.uga.4675802","FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"&lt;highlight&gt;Earthquake&lt;\/highlight&gt;
        [electronic resource] \/ Andrew Robinson."},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Robinson%2C+Andrew%22&quot;&gt;Robinson,
        Andrew&lt;\/searchLink&gt;"},{"Name":"TypePub","Label":"Publication Type","Group":"TypPub","Data":"Book;
        Computer File"},{"Name":"Subject","Label":"Subject Terms","Group":"Su","Data":"&lt;searchLink
        fieldCode=&quot;DE&quot; term=&quot;%22Earthquakes%22&quot;&gt;&lt;highlight&gt;Earthquakes&lt;\/highlight&gt;&lt;\/searchLink&gt;&lt;br
        \/&gt;&lt;searchLink fieldCode=&quot;DE&quot; term=&quot;%22Earthquakes+--+Social+aspects%22&quot;&gt;&lt;highlight&gt;Earthquakes&lt;\/highlight&gt;
        -- Social aspects&lt;\/searchLink&gt;"},{"Name":"Author","Label":"Other Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22ebrary%2C+Inc%2E%22&quot;&gt;ebrary,
        Inc.&lt;\/searchLink&gt;"},{"Name":"TitleAlt","Label":"Other Titles","Group":"TiAlt","Data":"&lt;highlight&gt;Earthquake&lt;\/highlight&gt;
        : nature and culture."},{"Name":"URL","Label":"URL","Group":"URL","Data":"&lt;link
        linkTarget=&quot;URL&quot; linkTerm=&quot;http:\/\/www.galileo.usg.edu\/express?link=ebpr;inst=uga1;id=10660917&quot;
        linkWindow=&quot;_blank&quot;&gt;http:\/\/www.galileo.usg.edu\/express?link=ebpr;inst=uga1;id=10660917&lt;\/link&gt;"}],"RecordInfo":{"BibRecord":{"BibEntity":{"Languages":[{"Text":"English"}],"Subjects":[{"SubjectFull":"Earthquakes","Type":"general"},{"SubjectFull":"Earthquakes
        -- Social aspects","Type":"general"}],"Titles":[{"TitleFull":"Earthquake.
        [electronic resource]","Type":"main"}]},"BibRelationships":{"HasContributorRelationships":[{"PersonEntity":{"Name":{"NameFull":"Robinson,
        Andrew"}}}],"IsPartOfRelationships":[{"BibEntity":{"Dates":[{"D":"01","M":"01","Type":"published","Y":"2012"}],"Titles":[{"TitleFull":"Earthquake
        [electronic resource] \/ Andrew Robinson.","Type":"main"}]}}]}}},"Holdings":[{"HoldingSimple":{"CopyInformationList":[{"ShelfLocator":"Internet
        QE534.3 \"Online Resources(ebrary)\""}]}}],"IllustrationInfo":{}},{"ResultId":2,"Header":{"DbId":"cat02060a","DbLabel":"EDS
        Demo Catalog – US - U of Georgia","An":"d.uga.4424241","RelevancyScore":"2449","PubType":"Video
        Recording","PubTypeId":"videoRecording"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat02060a&AN=d.uga.4424241","FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"&lt;highlight&gt;Earthquake&lt;\/highlight&gt;
        [electronic resourc[...]
[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/EndSession
    body:
      encoding: UTF-8
      string: '{"SessionToken":"519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU="}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU=
      x-authenticationToken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 1c6f9242-4524-4d5f-a61e-530e6a8176d7
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Tue, 18 Sep 2018 20:00:16 GMT
[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"<EDS_USER>","Password":"<EDS_PASS>","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU=
      x-authenticationToken:
      - ''
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ADmsRgCYpIrkMVUXBJNC20Y2RcGdLl1MX8p7IkN1c3RvbWVySWQiOiJzNDM5Mjc5OCIsIkdyb3VwSWQiOiJ0cmlhbCJ9","AuthTimeout":"1800"}'
  recorded_at: Thu, 08 Aug 2019 17:15:45 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=eds-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 519fd89d-0d19-4121-8d89-167089629742.xhqR4L6TzqmegxFRJi0PoIjRv3GKd4qCQCw0Av0x6TU=
      x-authenticationToken:
      - ADmsRgCYpIrkMVUXBJNC20Y2RcGdLl1MX8p7IkN1c3RvbWVySWQiOiJzNDM5Mjc5OCIsIkdyb3VwSWQiOiJ0cmlhbCJ9
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ADmsRgCYpIrkMVUXBJNC20Y2RcGdLl1MX8p7IkN1c3RvbWVySWQiOiJzNDM5Mjc5OCIsIkdyb3VwSWQiOiJ0cmlhbCJ9
      x-msg-correlid:
      - e7bdfa3a-eeeb-46ba-b3c8-84bb3dd4b016
    body:
      encoding: UTF-8
      string: '{"DetailedErrorDescription":"Profile: eds-api.","ErrorDescription":"Profile
        ID is not assocated with caller''s credentials.","ErrorNumber":"144"}'
  recorded_at: Thu, 08 Aug 2019 17:15:45 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=edsapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ADBtWixFOVSEoE2jHv7fmViQeHbaF1uhYFZ7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJEZXRhaWxlZEVycm9yRGVzY3JpcHRpb24iOiJJbnZhbGlkwqBBdXRoZW50
        aWNhdGlvbsKgVG9rZW4uIFBsZWFzZSBnZW5lcmF0ZSBhIG5ldyBvbmUuIiwi
        RXJyb3JEZXNjcmlwdGlvbiI6IkF1dGggVG9rZW4gSW52YWxpZCIsIkVycm9y
        TnVtYmVyIjoiMTA0In0=
  recorded_at: Thu, 08 Aug 2019 17:19:47 GMT
[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=edsapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 529ff964-5d16-4f00-8b17-85d83e51a9c4.ZOjwa8CBPGF+lJlHN9GRPNsgCi949zRpIkUpv64lxjM=
      x-authenticationToken:
      - ADmsRgCYpIrkMVUXBJNC20Y2RcGdLl1MX8p7IkN1c3RvbWVySWQiOiJzNDM5Mjc5OCIsIkdyb3VwSWQiOiJ0cmlhbCJ9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ADmsRgCYpIrkMVUXBJNC20Y2RcGdLl1MX8p7IkN1c3RvbWVySWQiOiJzNDM5Mjc5OCIsIkdyb3VwSWQiOiJ0cmlhbCJ9
      x-msg-correlid:
      - 283dcc83-d519-4f70-9fa3-8efc0f21b906
      x-sessionno:
      - "-571485698"
      x-sessiontoken:
      - 65e7b507-eeb9-420f-8471-4cdaeb2e51e0.N6q/w5q/GoG8tyAwhdtm+HsY8tA7wOMb5CUUzCE+mXM=
    body:
      encoding: UTF-8
      string: '{"SessionToken":"65e7b507-eeb9-420f-8471-4cdaeb2e51e0.N6q\/w5q\/GoG8tyAwhdtm+HsY8tA7wOMb5CUUzCE+mXM="}'
  recorded_at: Thu, 08 Aug 2019 17:19:47 GMT
recorded_with: VCR 2.9.3
