---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"<EDS_USER>","Password":"<EDS_USER>","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ''
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ","AuthTimeout":"1800"}'
  recorded_at: Fri, 02 Mar 2018 16:40:37 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=eds-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - a2d03ec7-64fc-4c7b-9857-fd813432afb3
      x-sessionno:
      - '2136677190'
      x-sessiontoken:
      - 161a71e2-785b-4518-87d2-99c5a07c329e.8/HsztIgm0zp+mRhgsX/bu5211KNEk3WeJlbcNfW/dU=
    body:
      encoding: UTF-8
      string: '{"SessionToken":"161a71e2-785b-4518-87d2-99c5a07c329e.8\/HsztIgm0zp+mRhgsX\/bu5211KNEk3WeJlbcNfW\/dU="}'
  recorded_at: Fri, 02 Mar 2018 16:40:38 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 161a71e2-785b-4518-87d2-99c5a07c329e.8/HsztIgm0zp+mRhgsX/bu5211KNEk3WeJlbcNfW/dU=
      x-authenticationToken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 42abbd7f-317d-464d-82e1-614c81b9a198
      x-sessionno:
      - '2136677190'
      x-sessiontoken:
      - 161a71e2-785b-4518-87d2-99c5a07c329e.8/HsztIgm0zp+mRhgsX/bu5211KNEk3WeJlbcNfW/dU=
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"},{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"y"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"y"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Linked
        Full Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"3"},{"Id":"TI","Label":"Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"4"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"Carl
        Vinson Institute of Government","AddAction":"addlimiter(LB:Carl Vinson Institute
        of Government)"},{"Value":"Consult Reference Staff","AddAction":"addlimiter(LB:Consult
        Reference Staff)"},{"Value":"Cortona (Italy) - Studies Abroad Program","AddAction":"addlimiter(LB:Cortona
        \\(Italy\\) - Studies Abroad Program)"},{"Value":"Curriculum Materials Library","AddAction":"addlimiter(LB:Curriculum
        Materials Library)"},{"Value":"Data Services","AddAction":"add[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search
    body:
      encoding: UTF-8
      string: '{"SearchCriteria":{"Queries":[{"Term":"patriots"}],"SearchMode":"all","IncludeFacets":"y","FacetFilters":[],"Limiters":[],"Sort":"relevance","PublicationId":null,"RelatedContent":["rs"],"AutoSuggest":"y","Expanders":["relatedsubjects","thesaurus","fulltext"],"AutoCorrect":"y"},"RetrievalCriteria":{"View":"brief","ResultsPerPage":1,"PageNumber":1,"Highlight":null,"IncludeImageQuickView":false},"Actions":["GoToPage(1)"],"Comment":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 161a71e2-785b-4518-87d2-99c5a07c329e.8/HsztIgm0zp+mRhgsX/bu5211KNEk3WeJlbcNfW/dU=
      x-authenticationToken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - efed1b17-c851-4b78-a327-b78b4c5c6fe3
      x-sessionno:
      - '2136677190'
      x-sessiontoken:
      - 161a71e2-785b-4518-87d2-99c5a07c329e.8/HsztIgm0zp+mRhgsX/bu5211KNEk3WeJlbcNfW/dU=
    body:
      encoding: UTF-8
      string: '{"SearchRequest":{"SearchCriteria":{"Queries":[{"BooleanOperator":"AND","Term":"patriots"}],"SearchMode":"all","IncludeFacets":"y","Expanders":["fulltext","thesaurus","relatedsubjects"],"Sort":"relevance","RelatedContent":["rs"],"AutoSuggest":"n","AutoCorrect":"n"},"RetrievalCriteria":{"View":"brief","ResultsPerPage":1,"PageNumber":1,"Highlight":"y","IncludeImageQuickView":"false"},"SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"patriots"},"RemoveAction":"removequery(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"},{"Id":"thesaurus","RemoveAction":"removeexpander(thesaurus)"},{"Id":"relatedsubjects","RemoveAction":"removeexpander(relatedsubjects)"}]}},"SearchResult":{"Statistics":{"TotalHits":125294,"TotalSearchTime":119,"Databases":[{"Id":"nlebk","Label":"eBook
        Collection (EBSCOhost)","Status":"0","Hits":0},{"Id":"e000xna","Label":"eBook
        Academic Collection (EBSCOhost)","Status":"0","Hits":25811},{"Id":"edsart","Label":"ARTstor
        Digital Library","Status":"0","Hits":93},{"Id":"e700xna","Label":"eBook Public
        Library Collection (EBSCOhost)","Status":"0","Hits":5318},{"Id":"cat02060a","Label":"EDS
        Demo Catalog – US - U of Georgia","Status":"0","Hits":2176},{"Id":"ers","Label":"Research
        Starters","Status":"0","Hits":722},{"Id":"asn","Label":"Academic Search Ultimate","Status":"0","Hits":73177},{"Id":"edspdh","Label":"PsycARTICLES","Status":"0","Hits":106},{"Id":"psyh","Label":"PsycINFO","Status":"0","Hits":172},{"Id":"pdh","Label":"PsycARTICLES","Status":"0","Hits":105},{"Id":"edsnmj","Label":"Naxos
        Music Library Jazz","Status":"0","Hits":6},{"Id":"edscrc","Label":"Credo Reference","Status":"0","Hits":9481},{"Id":"edshld","Label":"Digital
        Access to Scholarship at Harvard (DASH)","Status":"0","Hits":5},{"Id":"edsbas","Label":"BASE","Status":"0","Hits":8054},{"Id":"pix","Label":"Play
        Index (H.W. Wilson)","Status":"0","Hits":68}]},"Data":{"RecordFormat":"EP
        Display","Records":[{"ResultId":1,"Header":{"DbId":"cat02060a","DbLabel":"EDS
        Demo Catalog – US - U of Georgia","An":"d.uga.4677833","RelevancyScore":"2628","PubType":"Book","PubTypeId":"book"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat02060a&AN=d.uga.4677833","FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"&lt;highlight&gt;Patriots&lt;\/highlight&gt;
        [electronic resource] : a novel of survival in the coming collapse \/ James
        Wesley, Rawles [sic]."},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Rawles%2C+James+Wesley%22&quot;&gt;Rawles,
        James Wesley&lt;\/searchLink&gt;"},{"Name":"TypePub","Label":"Publication
        Type","Group":"TypPub","Data":"Book; Computer File"},{"Name":"Subject","Lab[...]
[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/EndSession
    body:
      encoding: UTF-8
      string: '{"SessionToken":"161a71e2-785b-4518-87d2-99c5a07c329e.8/HsztIgm0zp+mRhgsX/bu5211KNEk3WeJlbcNfW/dU="}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - 161a71e2-785b-4518-87d2-99c5a07c329e.8/HsztIgm0zp+mRhgsX/bu5211KNEk3WeJlbcNfW/dU=
      x-authenticationToken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 85d4a5e9-8fde-4e8a-b0e2-3259ed399c1a
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Fri, 02 Mar 2018 16:40:39 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=eds-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACoq2N2v_VljBDBspyu3KP6ipa0BOlqZhY17IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 4b69460d-b706-4aa2-8896-3eb7a988ec7a
      x-sessionno:
      - "-1109508301"
      x-sessiontoken:
      - 3f901ecf-0efc-4d4d-a822-97654bda5907.J7LMfF2oycN2qi+Bn1v+0qPXHsoRrmTMqv4VXss9oco=
    body:
      encoding: UTF-8
      string: '{"SessionToken":"3f901ecf-0efc-4d4d-a822-97654bda5907.J7LMfF2oycN2qi+Bn1v+0qPXHsoRrmTMqv4VXss9oco="}'
  recorded_at: Fri, 02 Mar 2018 17:07:02 GMT
recorded_with: VCR 3.0.3
