---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"<EDS_USER>","Password":"<EDS_USER>","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ''
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ","AuthTimeout":"1800"}'
  recorded_at: Fri, 02 Mar 2018 16:40:36 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=eds-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 49af829f-90e3-442f-9e19-30155787af12
      x-sessionno:
      - "-2085110602"
      x-sessiontoken:
      - c207daa4-6644-4c9f-ae67-9a461e6b46ad.a6m0JUOak5fu87NMcpFPB4wMKPSU0Mdh0vLqh9UFvf8=
    body:
      encoding: UTF-8
      string: '{"SessionToken":"c207daa4-6644-4c9f-ae67-9a461e6b46ad.a6m0JUOak5fu87NMcpFPB4wMKPSU0Mdh0vLqh9UFvf8="}'
  recorded_at: Fri, 02 Mar 2018 16:40:36 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - c207daa4-6644-4c9f-ae67-9a461e6b46ad.a6m0JUOak5fu87NMcpFPB4wMKPSU0Mdh0vLqh9UFvf8=
      x-authenticationToken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - c1837398-4864-4761-8a44-e20a7e9295cd
      x-sessionno:
      - "-2085110602"
      x-sessiontoken:
      - c207daa4-6644-4c9f-ae67-9a461e6b46ad.a6m0JUOak5fu87NMcpFPB4wMKPSU0Mdh0vLqh9UFvf8=
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"},{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"y"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"y"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Linked
        Full Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"3"},{"Id":"TI","Label":"Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"4"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"Carl
        Vinson Institute of Government","AddAction":"addlimiter(LB:Carl Vinson Institute
        of Government)"},{"Value":"Consult Reference Staff","AddAction":"addlimiter(LB:Consult
        Reference Staff)"},{"Value":"Cortona (Italy) - Studies Abroad Program","AddAction":"addlimiter(LB:Cortona
        \\(Italy\\) - Studies Abroad Program)"},{"Value":"Curriculum Materials Library","AddAction":"addlimiter(LB:Curriculum
        Materials Library)"},{"Value":"Data Services","AddAction":"add[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search
    body:
      encoding: UTF-8
      string: '{"SearchCriteria":{"Queries":[{"Term":"earthquake"}],"SearchMode":"all","IncludeFacets":"y","FacetFilters":[],"Limiters":[],"Sort":"relevance","PublicationId":null,"RelatedContent":["rs"],"AutoSuggest":"y","Expanders":["relatedsubjects","thesaurus","fulltext"],"AutoCorrect":"y"},"RetrievalCriteria":{"View":"brief","ResultsPerPage":20,"PageNumber":1,"Highlight":null,"IncludeImageQuickView":false},"Actions":["GoToPage(1)"],"Comment":""}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - c207daa4-6644-4c9f-ae67-9a461e6b46ad.a6m0JUOak5fu87NMcpFPB4wMKPSU0Mdh0vLqh9UFvf8=
      x-authenticationToken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - '01729200-f70a-4400-bea1-801e5b2c6611'
      x-sessionno:
      - "-2085110602"
      x-sessiontoken:
      - c207daa4-6644-4c9f-ae67-9a461e6b46ad.a6m0JUOak5fu87NMcpFPB4wMKPSU0Mdh0vLqh9UFvf8=
    body:
      encoding: UTF-8
      string: '{"SearchRequest":{"SearchCriteria":{"Queries":[{"BooleanOperator":"AND","Term":"earthquake"}],"SearchMode":"all","IncludeFacets":"y","Expanders":["fulltext","thesaurus","relatedsubjects"],"Sort":"relevance","RelatedContent":["rs"],"AutoSuggest":"n","AutoCorrect":"n"},"RetrievalCriteria":{"View":"brief","ResultsPerPage":20,"PageNumber":1,"Highlight":"y","IncludeImageQuickView":"false"},"SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"earthquake"},"RemoveAction":"removequery(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"},{"Id":"thesaurus","RemoveAction":"removeexpander(thesaurus)"},{"Id":"relatedsubjects","RemoveAction":"removeexpander(relatedsubjects)"}]}},"SearchResult":{"Statistics":{"TotalHits":319277,"TotalSearchTime":212,"Databases":[{"Id":"nlebk","Label":"eBook
        Collection (EBSCOhost)","Status":"0","Hits":0},{"Id":"e000xna","Label":"eBook
        Academic Collection (EBSCOhost)","Status":"0","Hits":34339},{"Id":"edsart","Label":"ARTstor
        Digital Library","Status":"0","Hits":8246},{"Id":"e700xna","Label":"eBook
        Public Library Collection (EBSCOhost)","Status":"0","Hits":7628},{"Id":"cat02060a","Label":"EDS
        Demo Catalog – US - U of Georgia","Status":"0","Hits":3780},{"Id":"ers","Label":"Research
        Starters","Status":"0","Hits":1075},{"Id":"asn","Label":"Academic Search Ultimate","Status":"0","Hits":144043},{"Id":"edspdh","Label":"PsycARTICLES","Status":"0","Hits":1135},{"Id":"psyh","Label":"PsycINFO","Status":"0","Hits":2533},{"Id":"pdh","Label":"PsycARTICLES","Status":"0","Hits":1100},{"Id":"edsnmj","Label":"Naxos
        Music Library Jazz","Status":"0","Hits":9},{"Id":"edscrc","Label":"Credo Reference","Status":"0","Hits":12769},{"Id":"edshld","Label":"Digital
        Access to Scholarship at Harvard (DASH)","Status":"0","Hits":64},{"Id":"edsbas","Label":"BASE","Status":"0","Hits":102546},{"Id":"pix","Label":"Play
        Index (H.W. Wilson)","Status":"0","Hits":10}]},"Data":{"RecordFormat":"EP
        Display","Records":[{"ResultId":1,"Header":{"DbId":"cat02060a","DbLabel":"EDS
        Demo Catalog – US - U of Georgia","An":"d.uga.4675802","RelevancyScore":"2645","PubType":"Book","PubTypeId":"book"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat02060a&AN=d.uga.4675802","FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"&lt;highlight&gt;Earthquake&lt;\/highlight&gt;
        [electronic resource] \/ Andrew Robinson."},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Robinson%2C+Andrew%22&quot;&gt;Robinson,
        Andrew&lt;\/searchLink&gt;"},{"Name":"TypePub","Label":"Publication Type","Group":"TypPub","Data":"Book;
        Computer File"},{"Name":"Subject","Label":"Subject Terms","Group":"Su","Data":"&lt;searchLink
        fieldCode=&quot;DE&quot; term=&quot;%22Earthquakes%22&quot;&gt;&lt;highlight&gt;Earthquakes&lt;\/highlight&gt;&lt;\/searchLink&gt;&lt;br
        \/&gt;&lt;searchLink fieldCode=&quot;DE&quot; term=&quot;%22Earthquakes+--+Social+aspects%22&quot;&gt;&lt;highlight&gt;Earthquakes&lt;\/highlight&gt;
        -- Social aspects&lt;\/searchLink&gt;"},{"Name":"Author","Label":"Other Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22ebrary%2C+Inc%2E%22&quot;&gt;ebrary,
        Inc.&lt;\/searchLink&gt;"},{"Name":"TitleAlt","Label":"Other Titles","Group":"TiAlt","Data":"&lt;highlight&gt;Earthquake&lt;\/highlight&gt;
        : nature and culture."},{"Name":"URL","Label":"URL","Group":"URL","Data":"&lt;link
        linkTarget=&quot;URL&quot; linkTerm=&quot;http:\/\/www.galileo.usg.edu\/express?link=ebpr;inst=uga1;id=10660917&quot;
        linkWindow=&quot;_blank&quot;&gt;http:\/\/www.galileo.usg.edu\/express?link=ebpr;inst=uga1;id=10660917&lt;\/link&gt;"}],"RecordInfo":{"BibRecord":{"BibEntity":{"Languages":[{"Text":"English"}],"Subjects":[{"SubjectFull":"Earthquakes","Type":"general"},{"SubjectFull":"Earthquakes
        -- Social aspects","Type":"general"}],"Titles":[{"TitleFull":"Earthquake.
        [electronic resource]","Type":"main"}]},"BibRelationships":{"HasContributorRelationships":[{"PersonEntity":{"Name":{"NameFull":"Robinson,
        Andrew"}}}],"IsPartOfRelationships":[{"BibEntity":{"Dates":[{"D":"01","M":"01","Type":"published","Y":"2012"}],"Titles":[{"TitleFull":"Earthquake
        [electronic resource] \/ Andrew Robinson.","Type":"main"}]}}]}}},"Holdings":[{"HoldingSimple":{"CopyInformationList":[{"ShelfLocator":"Internet
        QE534.3 \"Online Resources(ebrary)\""}]}}],"IllustrationInfo":{}},{"ResultId":2,"Header":{"DbId":"cat02060a","DbLabel":"EDS
        Demo Catalog – US - U of Georgia","An":"d.uga.4424241","RelevancyScore":"2636","PubType":"Video
        Recording","PubTypeId":"videoRecording"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat02060a&AN=d.uga.4424241","FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"&lt;highlight&gt;Earthquake&lt;\/highlight&gt;
        [electronic resourc[...]
[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/EndSession
    body:
      encoding: UTF-8
      string: '{"SessionToken":"c207daa4-6644-4c9f-ae67-9a461e6b46ad.a6m0JUOak5fu87NMcpFPB4wMKPSU0Mdh0vLqh9UFvf8="}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - c207daa4-6644-4c9f-ae67-9a461e6b46ad.a6m0JUOak5fu87NMcpFPB4wMKPSU0Mdh0vLqh9UFvf8=
      x-authenticationToken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 3d19b972-3391-4372-b797-b5c82d058e7a
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Fri, 02 Mar 2018 16:40:37 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=eds-api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-sessionToken:
      - ''
      x-authenticationToken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-authenticationtoken:
      - ACqbva5SHh_4HxCaYT4bBVjgpw-xkVqZhYx7IkN1c3RvbWVySWQiOiJiaWxsbWNraW5uIiwiR3JvdXBJZCI6Im1haW4ifQ
      x-msg-correlid:
      - 714389ce-69b0-49b3-a8a5-a276781c93f6
      x-sessionno:
      - "-544067077"
      x-sessiontoken:
      - 386b3adc-fef8-4d35-9295-97b96cd36e73.n4TlZEni8wu+lxeD0oJEGhEV+h2v0aPvnzDpJbTj7+o=
    body:
      encoding: UTF-8
      string: '{"SessionToken":"386b3adc-fef8-4d35-9295-97b96cd36e73.n4TlZEni8wu+lxeD0oJEGhEV+h2v0aPvnzDpJbTj7+o="}'
  recorded_at: Fri, 02 Mar 2018 17:07:00 GMT
recorded_with: VCR 3.0.3
